* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --white: #F9F9F9;
    --cyan: #3C91E6;
    --white-blue: #CFE8FF;
    --snow: #EEE;
    --coal-snow: #AAAAAA;
    --coal: #342E37;
    --blood: #DB504A;
    --sun: #FFCE26;
    --white-yellow: #FFF2C6;
    --Orange: #FD7238;
    --white-orange: #FFE0D3;
    --dark-blood: #A0002A;
    --hot-sun: #FCB900;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--snow);
    overflow-x: hidden;
}

/* Side Bar*/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--dark-blood);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}


/*#sidebar::--webkit-scrollbar {*/
/*    display: none;*/
/*    */
/*}*/


#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 1.7rem;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--hot-sun);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--dark-blood);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
    font-size: 1.5rem;
    font-weight: 600;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--snow);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    /*background: var(--cyan);*/
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--snow);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    /*background: var(--cyan);*/
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--snow);
    z-index: -1;
}


#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--dark-blood);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--white);
    white-space: nowrap;
    overflow-x: hidden;
}


#sidebar .side-menu li.active a {
    color: var(--hot-sun);
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}


#sidebar .side-menu.top li a:hover {
    color: var(--hot-sun);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

/*sidebar*/


/*content*/
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}

#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}

/*navbar*/
#content nav {
    height: 56px;
    background: var(--dark-blood);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}


#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--dark-blood);
}


#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
}

/*main*/
#content main {
    width: 100%;
    padding: 0 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
}

#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

#content main .box-info li {
    padding: 24px;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}


#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#content main .box-info li:nth-child(1) .bx {
    background: var(--coal-snow);
    color: var(--coal);
}


#content main .box-info li:nth-child(2) .bx {
    background: var(--white-yellow);
    color: var(--sun);
}


#content main .box-info li:nth-child(3) .bx {
    background: var(--white-orange);
    color: var(--Orange);
}


#content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
}


#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--coal);
}


#content main .table-data > div {
    border-radius: 20px;
    background: var(--white);
    padding: 24px;
    overflow-x: auto;
}


#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}


#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: var(--coal);
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}


#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}


#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--hot-sun);
    color: var(--dark-blood);
}


#content main .table-data .order table th td {
    padding: 16px 0;

}


#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;

}

#content main .table-data .order table tr td:nth-child(2) {
    text-align: left;
    font-size: 1.0rem;
    color: var(--coal);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

}

#content main .table-data .order table tr td:last-child {
    text-align: center;
    font-size: 1.0rem;
    color: var(--coal);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#content main .table-data .order table td i {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px;
}


#content main .table-data .order table tbody tr:hover {
    background: var(--snow);
    color: var(--dark-blood);
}

#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}


#content main .table-data .todo .todo-list {
    width: 100%;
}


#content main .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--snow);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
}


#content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--hot-sun);
}


#content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--dark-blood);
}


#content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}

/*main*/
/*content*/

/* Tables */
.table-container {

    width: auto;
    margin: 10px 5px;
    background-color: var(--white);
    border-radius: 20px;
}

.table-container .table-operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background: var(--sun);
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid var(--dark-blood);
}

.table-container .table-operations .title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-blood);
}

.table-container .table-operations .add-new {
    background-color: var(--dark-blood);
    color: var(--hot-sun);
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
}

.table-container .table-operations .add-new:hover {
    background-color: var(--white);
    color: var(--dark-blood);
}

.table-container .table-operations input {
    outline: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 6px;
    border: 1px solid var(--hot-sun);
    font-size: 1rem;
    font-weight: 500;
    color: var(--coal);
}

.table-container .table-operations input::placeholder {
    color: var(--coal-snow);
    font-weight: 400;
}

.table-container .table-data {
    max-height: 400px;
    overflow: auto;
}

.table-container .table-data table {
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

.table-container .table-data table thead th {
    position: sticky;
    top: 0;
    color: var(--dark-blood);
    font-size: 1rem;
    background-color: var(--white);
}

.table-container .table-data table th,
.table-container .table-data table td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid var(--coal-snow);
}

.table-container .table-data table tr:hover {
    background-color: var(--coal-snow);
    color: var(--hot-sun);
    cursor: pointer;
}

.table-container .table-data table tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-container .table-data td button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 7px 10px;
    font-size: 1rem;
    margin: 0 5px;
}

.table-container .table-data td .view {
    background-color: var(--cyan);
    color: var(--white-blue);
}

.table-container .table-data td .delete {
    background-color: var(--blood);
    color: var(--white);
}

.table-container .table-data td .view:hover,
.table-container .table-data td .delete:hover {
    padding: 10px 15px;
}

.table-container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.table-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--dark-blood);
}

.table-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--dark-blood);
}
.table-container .table-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background-color: var(--white);
    border-radius: 0 0 20px 20px;
}

.table-container .table-pagination i {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--blood);
    color: var(--dark-blood);
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    margin: 0 5px;
}

.table-container .table-pagination i:hover {
    background-color: var(--dark-blood);
    color: var(--hot-sun);
}

.table-container .table-pagination .pagination-item {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-blood);
    margin: 0 5px;
}

.table-container .table-pagination .pagination-item.active {
    color: var(--dark-blood);
    font-weight: 600;
    border-radius: 6px;
    background-color: var(--hot-sun);
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }


    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        /*border-radius: none;*/
        color: var(--coal);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--white);
        background: var(--blood);
    }

    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }

    #content main .table-data .order table {
        min-width: 420px;
    }

    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }
}